html,
body {
  margin: 0;
}

/*Style for the nav-bar and its content*/
#nav-bar {
  background-color: #E6F5FF;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  z-index: 5;
  top: 0;
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  font-family: 'Josefin Sans', sans-serif;
  color: #669DC1;
}

#header-img {
  max-width: 38px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font: 16px 'Nunito', sans-serif;
}

.nav-link {
  text-decoration: none;
  color: #669DC1;
  transition: all 400ms;
}

.nav-link:hover {
  color: #C97500;
}

/*Style for the image section*/
#image {
  background-image: url("https://source.unsplash.com/BfriYg0iOCs");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#centered-text {
  color: #E6F5FF;
  font: bolder 38px 'Josefin Sans', sans-serif;
  padding: 0 90px;
  line-height: 50px;
}

#highlight {
  background: linear-gradient(0deg, #C97500 50%, transparent 50%);
}

/*Style for the feature section*/
#features {
  background-color: #900C3F;
  display: flex;
}

#feature-container {
  display: flex;
  justify-content: space-around;
  margin: 45px 0 50px;
}

.section {
  max-width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icon {
  max-width: 100px;
  margin: 0 20px;
}

.feature-name {
  color: #4C001C;
  font: 19px 'Josefin Sans', sans-serif;
}

.feature-info {
  color: #4C001C;
  font: 16px 'Nunito', sans-serif;
}

p {
  margin: 0;
}

/*Style for the how it works section*/
#how-it-works {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #C70039;
}

#how-title {
  font: 21px 'Varela Round', sans-serif;
  color: #70001F;
  letter-spacing: 2px;
  margin-top: 38px;
}

#how-line {
  width: 70px;
  height: 2px;
  background-color: #fff;
  margin: 3px auto 20px;
  border: none;
  background-color: #70001f;
}

#video {
  margin-bottom: 50px;
  max-width: 560px;
  width: 100%;
}

h3 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/*Style for the package section*/
#packages {
 display: flex;
 flex-direction: column;
 background-color: #fdb44b;;
}

#package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0 50px;
}

#packages-title {
  font: 21px 'Varela Round', sans-serif;
  color: #c97500;
  letter-spacing: 2px;
  margin-top: 40px;
}

#packages-line {
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 3px auto 20px;
  border: none;
  background-color: #c97500;
}

.package-icon {
  max-width: 100px;
  margin: 0 20px;
}

.package-name {
  color: #c97500;
  font: 19px 'Josefin Sans', sans-serif;
}

.package-info {
  color: #c97500;
  font: 16px 'Nunito', sans-serif;
}

.choose-button {
  margin-top: 20px;
  font: 14px 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #c97500;
  border: 1px solid #c97500;
  border-radius: 4px;
  letter-spacing: 1.8px;
  padding: 7px 12px;
}

/*Style the sing up section*/
#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5564e;
}

#signup-title {
  font: 21px 'Varela Round', sans-serif;
  color: #c41a11;
  letter-spacing: 2px;
  margin-top: 40px;
}

#signup-line {
  width: 90px;
  height: 2px;
  background-color: #fff;
  margin: 3px auto 20px;
  border: none;
  background-color: #c41a11;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 50px;
}

.input-field {
  height: 30px;
  width: 80%;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #fff;
  font: bold 14px 'Josefin Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.sub-button {
  color: #fff;
  background-color: #f5564e;
  border: 1px solid #f5564e;
  font: 14px 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-top: 10px;
}

/*Style the footer section*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
