html,
body {
  margin: 0;
}

/*Style for the nav-bar and its content*/
#nav-bar {
  background-color: #E6F5FF;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  z-index: 5;
  top: 0;
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  font-family: 'Josefin Sans', sans-serif;
  color: #669DC1;
}

#header-img {
  max-width: 38px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font: 16px 'Nunito', sans-serif;
}

.nav-link {
  text-decoration: none;
  color: #669DC1;
  transition: all 400ms;
}

.nav-link:hover {
  color: #C97500;
}

/*Style for the image section*/
#image {
  background-image: url("https://source.unsplash.com/BfriYg0iOCs");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#centered-text {
  color: #E6F5FF;
  font: bolder 38px 'Josefin Sans', sans-serif;
  padding: 0 90px;
  line-height: 50px;
}

#highlight {
  background: linear-gradient(0deg, #C97500 50%, transparent 50%);
}
